<%= form_for @product do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre" %>
        </div>
        <div class="form-group">
          <%= f.number_field :price, class: "form-control input-lg", placeholder: "Precio" %>
        </div>
          <div class="field">
            <%= hidden_field_tag "product[category_id][]" , nil %>
            <% @categories.each do |category| %>
              <div class="row">
              <%= check_box_tag "product[category_id][]", category.id, @product.category_ids.include?(category.id) %>
              <%= category.name %>
              </div>
            <% end %>
          </div>
        <div>
          <%= f.submit "Publicar Producto", class: "btn btn-primary btn-lg btn-block" %>
        </div>
<% end %>